.introduceContainer{
    display: grid;
    row-gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.profileSection {
    display: flex;
    column-gap: 30px;
}
.profileImage img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.introduceText {
    height: 100%;
    line-height: 1.5;
    font-size: 17px;
    width: 100%;
}

textarea{
    font-size: 17px;
    line-height: 1.5;
    padding: 0;
    resize: none;
}

.saveButtonContainer{
    display: flex;
    justify-content: center;
}

.saveButtonContainer button{
    font-size: 20px;
    padding: 10px;
    width: 200px;
    height: 50px;
}

@media screen and (max-width: 1024px){
    .introduceContainer{
        padding-left: 20px;
        padding-right: 20px;
    }
    .profileSection{
        flex-direction: column;
        align-items: center;
    }
    .profileImage{
        justify-content: center;
        margin-bottom: 20px;
        padding-right: 0;
        margin-right: 0;
    }
    .introduceText{
        width: 100%;
        max-width: 800px;
        height: auto;
    }
}