.projectTitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.projectContainer {
    background-color: #e5e7eb;
    display: grid;
    row-gap: 15px;
    padding: 0 15px;
}

.projectSection{
    width: 100%;
}